<script src="bytearray.js" type="text/javascript"></script>
<script src="blake2s.js" type="text/javascript"></script>
<script type="text/javascript">
var hash = blake2s([]);
//var hashabc = sha256([ 0x61, 0x62, 0x63 ]);
//var hashabc = sha256("abc");
var hashabc = blake2s(["a", 0x62, "c"]);
var hashbla = blake2s("Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.");
var hash255 = blake2s([0xFF, 0xFF, 0xFF, 0xFF, 0xFF, 0xFF, 0xFF, 0xFF]);

if (this.document != undefined)
	print = function(s) {
		document.write(s + "<br>\n");
	}

print("hash of '': " + hash);
print("hash of '' as base64: " + hash.toString("base64"));
print("hash of '' as base64url: " + hash.toString("base64url"));
print("hash of 'abc': " + hashabc);
print("hash of some longer string: " + hashbla);
print("potential problem hash: " + hash255);
var expect = "c3967b585aeca81e0b030225b53db660556a3f2db25d12e80ca6fc050cef95a5";
if (expect == hash255)
	print("aight");
else print("FOKFOKFOK");

</script>
